// Variables
@import  "variable.scss";

.cta{
    background: #85be84;
    &.section-padding{
        padding: 65px 0px;
    }
    .cta-text{
        text-align: center;
        h2{
            font-size: 32px;
            color: $wh;
            margin: 0px;

        }
    }
}
